{
  "ConnectionStrings": {
    "PostgreSqlConnection": "Host=localhost;Port=[PUERTO];Database=UniversoDeTinieblas;Username=[NombreUsuario];Password=[Contraseña]"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
